<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/editTags" (click)="drawer.close()">🏷️  Edit Tags</a>
      <a mat-list-item routerLink="/upload" (click)="drawer.close()">📤 Upload</a>
      <a mat-list-item routerLink="/discipline" (click)="drawer.close()">📗 Disciplines</a>
      <!--<ng-container *ngIf="!validToken(); else userSettings1">
        <a mat-list-item routerLink="/login" (click)="drawer.close()">🚪 ️Login</a>
      </ng-container>
      <template #userSettings1>
        <a mat-list-item routerLink="/keycloack" (click)="drawer.close()">🔒 Settings</a>
        <a mat-list-item routerLink="/logout" (click)="drawer.close()">🚪 ️Logout</a>
      </template>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">


        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🎓 Campus++</span>

      <span class="fill-space"></span>
      <div *ngIf="(isHandset$ | async) === false">
        <a mat-button routerLink="/editTags">🏷️ Edit Tags</a>
        <a mat-button routerLink="/upload">📤 Upload</a>
        <a mat-button routerLink="/discipline">📗 Disciplines</a>
        <a mat-button routerLink="/login" *ngIf="!validToken(); else userSettings2">🚪 Login</a>
        <ng-template #userSettings2>
          <a mat-button routerLink="/keycloack">🔒 Settings</a>
          <a mat-button routerLink="/logout">🚪 Logout</a>
        </ng-template>
      </div>

    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
