<div class="container">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <div style="text-align:center; margin-top: 100px; ">
        <app-upload-form formControlName="uploads"></app-upload-form>
        <br>
        <app-autocomplete-form formControlName="fileUploadLocations"></app-autocomplete-form>
        <br>
<!--        <app-tags-form formControlName="tags"></app-tags-form>-->
      </div>
      <mat-icon style="cursor: pointer" matSuffix (click)="onAddTag()">add_box</mat-icon>
      <div style="margin-top: 20px">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn" (click)="onReset()" type="button">Reset</button>
      </div>
    </div>
  </form>
</div>
