<div class="container">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <div style="margin-top: 100px">
        <app-upload-form formControlName="uploads"></app-upload-form>
        <br/>
        <app-autocomplete-form
          formControlName="fileUploadLocations"
          [disciplineNames]="disciplineNames"
          [studyCourseNames]="studyCourseNames"
          [curriculaNames]="curriculaNames"
          [lectureNames]="lectureNames"
        ></app-autocomplete-form>
        <br/>
        <form #f="ngForm">
          <app-tags [tags]="tags"></app-tags>
        </form>
      </div>
      <br/>
      <div style="margin-top: 20px">
        <button
          [disabled]="!this.uploadForm.valid && f.valid"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="onReset()"
          type="button"
        >
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
