<section>
  <div class="button-row">
    <button mat-flat-button color="primary" (click)="openDialog()">+</button>
  </div>
</section>
<mat-list>
  <div mat-subheader>{{title}}</div>
  <div *ngIf="level === 4; else simple">
    <div *ngFor="let d of data; let i = index">
      <div mat-subheader>{{"Semester " + (i + 1)}}</div>
      <app-level-list [data]="d" [level]="level" (navigateTo)="loadData($event)">{{d.relativeSemester}}</app-level-list>
    </div>
  </div>
  <ng-template #simple>
    <app-level-list [data]="data" [level]="level" (navigateTo)="loadData($event)"></app-level-list>
  </ng-template>
</mat-list>
