<div [formGroup]="form">
  <mat-label>Where to upload</mat-label>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Discipline</mat-label>
    <input
      type="text"
      matInput
      formControlName="discipline"
      [formGroup]="form"
      [matAutocomplete]="auto"
      (focus)="autocompleteDisciplines()"
      #disciplineValue
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let discipline of filteredDisciplines | async"
        [value]="discipline"
      >
        {{ discipline }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Study Courses</mat-label>
    <input
      type="text"
      matInput
      formControlName="studyCourses"
      [formGroup]="form"
      [matAutocomplete]="auto2"
      (focus)="autocompleteStudyCourses()"
      #studyCourseValue
    />
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option
        *ngFor="let studyCourse of filteredStudyCourses | async"
        [value]="studyCourse"
      >
        {{ studyCourse }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Curriculum</mat-label>
    <input
      type="text"
      matInput
      formControlName="curriculum"
      [formGroup]="form"
      [matAutocomplete]="auto3"
      (focus)="autocompleteCurricula()"
      #curriculaValue
    />
    <mat-autocomplete #auto3="matAutocomplete">
      <mat-option
        *ngFor="let curricula of filteredCurricular | async"
        [value]="curricula"
      >
        {{ curricula }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Lectures</mat-label>
    <input type="text"
           matInput
           formControlName="lectures"
           [formGroup]="form"
           [matAutocomplete]="auto4"
           (focus)="autocompleteLectures()"
    />
    <mat-autocomplete #auto4="matAutocomplete">
      <mat-option
        *ngFor="let lecture of filteredLectures | async"
        [value]="lecture"
      >
        {{ lecture }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<!--
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Existing Tag Types</mat-label>
    <input type="text"
           matInput
           formControlName="tagTypes"
           [formGroup]="form"
           [matAutocomplete]="auto5"
           (focus)="autocompleteTagTypes()"
    />
    <mat-autocomplete #auto5="matAutocomplete">
      <mat-option
        *ngFor="let tagType of filteredTagTypes | async"
        [value]="tagType"
      >
        {{ tagType }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Existing Tag Names</mat-label>
    <input type="text"
           matInput
           formControlName="tagNames"
           [formGroup]="form"
           [matAutocomplete]="auto6"
           (focus)="autocompleteTagNames()"
    />
    <mat-autocomplete #auto6="matAutocomplete">
      <mat-option
        *ngFor="let tagName of filteredTagNames | async"
        [value]="tagName"
      >
        {{ tagName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
-->
</div>
