<div [formGroup]="form">
  <mat-label>Where to upload</mat-label>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Discipline</mat-label>
    <input
      type="text"
      matInput
      formControlName="discipline"
      [formGroup]="form"
      [matAutocomplete]="auto"
      (click)="autocompleteDisciplines()"
      #disciplineValue
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let discipline of filteredDisciplines | async" [value]="discipline">
        {{discipline}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button type="button" (click)="log()">Log</button>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Study Courses</mat-label>
    <input
      type="text"
      matInput
      formControlName="studyCourses"
      [formGroup]="form"
      [matAutocomplete]="auto2"
      (click)="initStudyCourses()"
    />
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option *ngFor="let studyCourse of filteredStudyCourses | async" [value]="studyCourse">
        {{studyCourse}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Curriculum</mat-label>
    <input
      type="text"
      matInput
      formControlName="curriculum"
    />
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Lectures</mat-label>
    <input
      type="text"
      matInput
      formControlName="lectures"
    />
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Assignment</mat-label>
    <input
      type="text"
      matInput
      formControlName="assignments"
    />
  </mat-form-field>
</div>
