<app-file-element [data]="data" (executeAction)="delete($event)"></app-file-element>
<mat-grid-list [cols]="6">
  <mat-grid-tile [colspan]="4">
  </mat-grid-tile>
  <app-tags [tags]="tags" [fullFile]="data"></app-tags>
  <mat-grid-tile [colspan]="2">
    <app-rate [data]="data" (executeAction)="rate(data.id, $event)"></app-rate>
  </mat-grid-tile>
</mat-grid-list>
<app-comment *ngIf="data" [data]="data" (sendCommentAction)="sendComment($event)" (executeAction)="deleteComment($event)"></app-comment>
