<app-file-element [data]="data" (executeAction)="delete()"></app-file-element>
<div class="row">
  <mat-grid-list [cols]="2" rowHeight="40px">
    <mat-grid-tile colspan="1">
      <div class="block">
        Uploader: <span class="author" *ngIf="data"><i>{{data.authorName}}</i></span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <app-rate [data]="data" (executeAction)="rate(data.id, $event)"></app-rate>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="row">
  <app-tags [tags]="tags" [create]="true" [fullFile]="data"></app-tags>
</div>
<div class="row">
  <app-comment *ngIf="data && isLoggedIn()" [data]="data" (sendCommentAction)="sendComment($event)"
               (executeAction)="deleteComment($event)"></app-comment>
</div>
