form {
  max-width: 96% !important;
}
.comment-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding:1em;
}

.comment-form-full-width {
  width: 100%;
}

button {
  float: right;
  margin-bottom: 100px;
}
